<f:if condition="{imageThumb}">
    <f:then>
        <a href="{url}">
            <f:image class="{class}" src="{imageThumb}" alt=""
                       width="{settings.scale.thumbWidth}" height="{settings.scale.thumbHeight}"
                       additionalAttributes="{data-layer: '{layer}', data-title: '{title}', data-description: '{description}'}"/>
        </a>
    </f:then>
    <f:else>
        <a href="{url}">
            <span class="{class}" data-layer="{layer}"
                  data-title="{title}"
                  data-description="{description}"></span>
        </a>
    </f:else>
</f:if>