<f:if condition="{single.item.thumb_iframe}">
    <f:then>
        <a href="{single.item.iframe}">
            <f:image class="iframe" src="{single.item.thumb_iframe}" alt="Iframe Thumb"
                     width="{settings.scale.thumbWidth}" height="{settings.scale.thumbHeight}"
                     additionalAttributes="{data-layer: '{single.item.layer_iframe}', data-title: '{single.item.title_iframe}', data-description: '{single.item.description_iframe}'}"/>
        </a>
    </f:then>
    <f:else>
        <a href="{single.item.iframe}">
							<span class="iframe" data-layer="{single.item.layer_iframe}"
                                  data-title="{single.item.title_iframe}"
                                  data-description="{single.item.description_iframe}">Check this out</span>
        </a>
    </f:else>
</f:if>