<a href="<f:uri.image src='{imageThumb}' maxWidth='{settings.config.width}' maxHeight='{settings.config.height}' />">
    <f:if condition="{link}">
        <f:then>
            <f:image src="{image}" alt="{title}" width="{settings.scale.thumbWidth}" height="{settings.scale.thumbHeight}"
                     additionalAttributes="{
                            data-big: '{image}',
                            data-title: '{title}',
                            data-description: '{description}',
                            data-link: '<f:uri.page pageUid=\'{link}\'/>',
                            data-layer: '{layer}'
                         }"/>
        </f:then>
        <f:else>
            <f:image src="{image}" alt="{title}" width="{settings.scale.thumbWidth}" height="{settings.scale.thumbHeight}"
                     additionalAttributes="{
                            data-big: '{image}',
                            data-title: '{title}',
                            data-description: '{description}',
                            data-layer: '{layer}'
                         }"/>
        </f:else>
    </f:if>
</a>