<f:if condition="{single.item.thumb_video}">
    <f:then>
        <a href="{single.item.video}">
            <f:image src="{single.item.thumb_video}"
                     width="{settings.scale.thumbWidth}" height="{settings.scale.thumbHeight}"
                     alt="Video Thumb"
                     additionalAttributes="{data-layer: '{single.item.layer_video}', data-title: '{single.item.title_video}', data-description: '{single.item.description_video}'}"/>
        </a>
    </f:then>
    <f:else>
        <a href="{single.item.video}">
                            <span class="video" data-layer="{single.item.layer_video}"
                                  data-title="{single.item.title_video}"
                                  data-description="{single.item.description_video}">Check out this video</span>
        </a>
    </f:else>
</f:if>