<f:layout name="Default"/>

<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
     xmlns:dmf="http://typo3.org/ns/DMF/FluxGalleria/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers">

<f:section name="Configuration">
    <flux:form id="galleria" enabled="true" label="Galleria image & video plugin">

        <flux:form.sheet name="data" label="Images / Videos">

            <flux:form.section name="settings.items" label="Items">
                <flux:form.object name="item" label="Gallery item">

                    <flux:field.select name="type" label="Type"
                                                items="{0: 'Please select', 1: 'Image', 2: 'Video', 3: 'IFrame', 4: 'Flickr', 5: 'Picasa', 6: 'Folder'}"
                                                default="0"
                                                requestUpdate="true"/>

                    <f:comment>Image configuration fields</f:comment>
                    <flux:field.file name="original" label="Main image" displayCond="FIELD:type:=:1"
                                              required="true"/>

                    <flux:field.file name="thumb" label="Image thumbnail source" displayCond="FIELD:type:=:1"/>
                    <flux:field.input name="title" label="Title" displayCond="FIELD:type:=:1"/>
                    <flux:field.input name="link" label="Link" displayCond="FIELD:type:=:1">
                        <flux:wizard.link/>
                    </flux:field.input>
                    <flux:field.text name="description" label="Description" displayCond="FIELD:type:=:1"
                                              enableRichText="0"/>
                    <flux:field.text name="layer" label="Overlay" displayCond="FIELD:type:=:1"
                                              enableRichText="1"/>

                    <f:comment>Video configuration fields</f:comment>
                    <flux:field.input name="video" label="Video url (vimeo / youtube / dailymotion)"
                                               displayCond="FIELD:type:=:2" required="TRUE"/>
                    <flux:field.file name="thumb_video" label="Image thumbnail" displayCond="FIELD:type:=:2"/>
                    <flux:field.input name="title_video" label="Video title" displayCond="FIELD:type:=:2"/>
                    <flux:field.input name="description_video" label="Video description"
                                               displayCond="FIELD:type:=:2"/>
                    <flux:field.text name="layer_video" label="Overlay" displayCond="FIELD:type:=:2"
                                              enableRichText="1"/>


                    <f:comment>Iframe configuration fields</f:comment>
                    <flux:field.input name="iframe" label="IFrame url" displayCond="FIELD:type:=:3"
                                               required="TRUE"/>
                    <flux:field.file name="thumb_iframe" label="Image thumbnail" displayCond="FIELD:type:=:3"/>

                    <flux:field.input name="title_iframe" label="IFrame title" displayCond="FIELD:type:=:3"/>
                    <flux:field.text name="description_iframe" label="IFrame description"
                                              displayCond="FIELD:type:=:3"/>
                    <flux:field.text name="layer_iframe" label="Overlay" displayCond="FIELD:type:=:3"
                                              enableRichText="1"/>

                    <f:comment>Flickr configuration fields</f:comment>
                    <flux:field.select name="flickr_method" label="Flickr method to pull images."
                                                items="search,tags,user,set,gallery,groupsearch,group"
                                                displayCond="FIELD:type:=:4"/>
                    <flux:field.input name="flickr" label="Flickr parameter" displayCond="FIELD:type:=:4"/>
                    <flux:field.input name="max_flickr"
                                               label="Maximum number of photos to return (maximum value 100)"
                                               default="30" displayCond="FIELD:type:=:4"/>
                    <flux:field.select name="imageSize_flickr"
                                                label="The size to fetch for the main image. The bigger size, the slower downloads and interaction."
                                                displayCond="FIELD:type:=:4"
                                                items="{medium: 'Medium: 640 on longest side',small: 'Small: square 75x75',thumb: 'Thumb: 100 on longest side',big: 'Big: 1024 on longest side', orginal: 'Original:  original image'}"/>
                    <flux:field.select name="thumbSize_flickr" label="The size to fetch for the thumb image."
                                                displayCond="FIELD:type:=:4"
                                                items="{thumb: 'Thumb: 100 on longest side',medium: 'Medium: 640 on longest side',small: 'Small: square 75x75', big: 'Big: 1024 on longest side', original: 'Original:  original image'}"/>
                    <flux:field.select name="sort_flickr" label="Sets in what order the photos will be shown."
                                                displayCond="FIELD:type:=:4"
                                                items="interestingness-desc,interestingness-asc,date-posted-asc,date-posted-desc,date-taken-asc,date-taken-desc,relevance"/>
                    <flux:field.select name="description_flickr"
                                                label="If you also wish to fetch the description, set this option to true."
                                                items="false,true"
                                                displayCond="FIELD:type:=:4"/>


                    <f:comment>Picasa configuration fields</f:comment>
                    <flux:field.select name="picasa_method" label="Picasa method to pull images"
                                                displayCond="FIELD:type:=:5"
                                                items="search,user,useralbum"/>
                    <flux:field.input name="picasa" label="Picasa parameter of the picasa method; specific for useralbum write: user,useralbumID" displayCond="FIELD:type:=:5"/>
                    <flux:field.input name="max_picasa"
                                               label="Maximum number of photos to return (maximum value 100)"
                                               default="30" displayCond="FIELD:type:=:5"/>
                    <flux:field.select name="imageSize_picasa"
                                                label="The size to fetch for the main image. The bigger size, the slower downloads and interaction."
                                                displayCond="FIELD:type:=:5"
                                                items="{medium: 'Medium: 640 on longest side',small: 'Small: square 75x75',thumb: 'Thumb: 100 on longest side',big: 'Big: 1024 on longest side', orginal: 'Original:  original image'}"/>
                    <flux:field.select name="thumbSize_picasa" label="The size to fetch for the thumb image."
                                                displayCond="FIELD:type:=:5"
                                                items="{thumb: 'Thumb: 100 on longest side',medium: 'Medium: 640 on longest side',small: 'Small: square 75x75', big: 'Big: 1024 on longest side', original: 'Original:  original image'}"/>

                    <f:comment>Folder configuration fields</f:comment>
                    <flux:field.input name="folder" label="Path to folder." displayCond="FIELD:type:=:6"/>
                    <flux:field.input name="extension" label="Comma seperated list of allowed file extensions"
                                               displayCond="FIELD:type:=:6"/>
                    <flux:field.select name="folder_recursive" label="Recursive level"
                                                items="0,1,2,3,4,5,6" displayCond="FIELD:type:=:6"/>

                </flux:form.object>
            </flux:form.section>
        </flux:form.sheet>

        <flux:form.sheet name="config" label="Display">
            <flux:field.input name="settings.config.width" label="Galleria width. INT or 'auto' is allowed"
                                       default="auto"/>
            <flux:field.input name="settings.config.height"
                                       label="Galleria height, required value. INT or for responsive design 0.68 is possible"
                                       default="400"/>
            <flux:field.input name="settings.scale.width"
                                       label="Main image width supports also 400c for cropping"/>
            <flux:field.input name="settings.scale.height"
                                       label="Main image height supports also 200c for cropping"/>


            <flux:field.select name="settings.config.thumbnails" label="Creates thumbnails and carousel"
                                        default="true" requestUpdate="true"
                                        items="default, true, empty, numbers, lazy, false"/>
            <flux:field.input name="settings.scale.thumbWidth" label="Galleria thumbnail width (default: 63)"
                                       displayCond="FIELD:settings.config.thumbnails:!=:false"/>
            <flux:field.input name="settings.scale.thumbHeight" label="Galleria thumbnail height (default: 27)"
                                       displayCond="FIELD:settings.config.thumbnails:!=:false"/>

            <flux:field.input name="settings.config.maxScaleRatio"
                                       label="Sets the maximum scale ratio for images. Set 1 for non-upscale"
                                       displayCond="FIELD:settings.config.thumbnails:!=:false"/>
            <flux:field.input name="settings.config.minScaleRatio"
                                       label="Sets the minimum scale ratio for images. Set 1 for non-downscale"
                                       displayCond="FIELD:settings.config.thumbnails:!=:false"/>


        </flux:form.sheet>

        <flux:form.sheet name="show" label="Show options">
            <flux:field.input name="settings.config.imagePosition"
                                       label="Position of image to show. Same as background-image position"
                                       default="center"/>
            <flux:field.select name="settings.config.imageCrop"
                                        label="Crops image inside the container (default: true)"
                                        items="default,false,true,height,width,landscape,portrait"/>
            <flux:field.input name="settings.config.show"
                                       label="Index of image where to start first (default: 0)"/>
            <flux:field.select name="settings.config.showCounter" label="Toggle the counter"
                                        items="default,true,false"/>
            <flux:field.select name="settings.config.showInfo" label="Display of image caption"
                                        items="default,true,false"/>
            <flux:field.select name="settings.config.showImagenav" label="Display image navigation"
                                        items="default,true,false"/>
        </flux:form.sheet>

        <flux:form.sheet name="lightbox" label="Lightbox">
            <flux:field.select name="settings.config.lightbox"
                                        label="Lightbox for images (only on non-linked images)"
                                        items="default,false,true"/>
            <flux:field.input name="settings.config.lightboxFadeSpeed"
                                       label="This value controls how lightbox images should fade in milliseconds (default: 200)."/>
            <flux:field.input name="settings.config.lightboxTransitionSpeed"
                                       label="This value controls the transition speed (default: 300)."/>
            <flux:field.input name="settings.config.overlayBackground"
                                       label="This defines the overlay background color when calling showLightbox() (default: #0b0b0b)."/>
            <flux:field.input name="settings.config.overlayOpacity"
                                       label="This sets how much opacity the overlay should have when calling showLightbox() (default: 0.85)."/>
        </flux:form.sheet>
        <flux:form.sheet name="carousel" label="Carousel">
            <flux:field.select name="settings.config.carousel"
                                        label="Galleria comes with a built-in horizontal carousel."
                                        items="default,true,false"/>
            <flux:field.input name="settings.config.carouselSpeed"
                                       label="This option controls the slide speed of the carousel in milliseconds (default: 1200)."/>
            <flux:field.input name="settings.config.carouselSteps"
                                       label="The number of 'steps' the carousel will advance when navigating between available thumbnails. Integer or 'auto'."/>

        </flux:form.sheet>

        <flux:form.sheet name="js-config" label="Additional options">
            <flux:field.select name="settings.config.transition" label="Transition of gallery"
                                        items="default, slide, fade, flash, pulse, fadeslide"/>
            <flux:field.select name="settings.enable.history" label="Enable History plugin."
                                        items="default, false,true"/>
            <flux:field.select name="settings.config.popupLinks" label="Every link on pictures set to _blank"
                                        items="default, false,true"/>
            <flux:field.select name="settings.config.responsive" label="Set galleria in responsive mode"
                                        items="default, false,true"/>
            <flux:field.select name="settings.config.imagePan" label="Pan effect for cropped pictures"
                                        items="default, false,true"/>
            <flux:field.input name="settings.config.wait"
                                       label="Enable wait, if galleria is inside of tabs or accordion (boolean or int)."/>
            <flux:field.select name="settings.config.debug" label="Enable debug for error reporting"
                                        items="default, false,true"/>
            <flux:field.text name="settings.additionalconfig.js"
                                      label="Add your specific js options. You can add whatever options are missing in ts or flexform."/>

        </flux:form.sheet>


    </flux:form>
</f:section>

<f:section name="Preview">
    Total <b>
    <f:if condition="{settings.items}">
        <f:then>
            <f:count subject="{settings.items}"/>
        </f:then>
        <f:else>
            0
        </f:else>
    </f:if>
</b> gallery elements included.
</f:section>

<f:section name="Main">

    <div id="{recordUid}">
        <f:if condition="{noJson}">
            <f:for each="{settings.items}" as="single" iteration="iteration">

                <f:if condition="{single.item.type} == 1">
                    <f:if condition="{single.item.thumb}">
                        <f:then>
                            <f:render partial="Galleria/Image"
                                      arguments="{settings:settings,image:single.item.original, imageThumb:single.item.thumb, description:single.item.description, title:single.item.title, link:single.item.link, layer:single.item.layer}"/>
                        </f:then>
                        <f:else>
                            <f:render partial="Galleria/Image"
                                      arguments="{settings:settings,image:single.item.original, imageThumb:single.item.original, description:single.item.description, title:single.item.title, link:single.item.link, layer:single.item.layer}"/>
                        </f:else>
                    </f:if>
                </f:if>

                <f:if condition="{single.item.type} == 2">
                    <f:render partial="Galleria/Iframe"
                              arguments="{settings:settings, url:single.item.video, imageThumb: single.item.thumb_video, title:single.item.title_video, description:single.item.description_video, layer:single.item.layer_video, class:'video'}"/>
                </f:if>

                <f:if condition="{single.item.type} == 3">
                    <f:render partial="Galleria/Iframe"
                              arguments="{settings:settings, url:single.item.iframe, imageThumb: single.item.thumb_iframe, title:single.item.title_iframe, description:single.item.description_iframe, layer:single.item.layer_iframe, class:'iframe'}"/>
                </f:if>

                <f:if condition="{single.item.type} == 6">
                    <f:if condition="{single.item.folder_files}">
                        <f:for each="{single.item.folder_files}" as="image">
                            <f:render partial="Galleria/Image"
                                      arguments="{settings:settings, image:image, imageThumb:image}"/>
                        </f:for>
                    </f:if>
                </f:if>

                <f:if condition="{single.item.type} == 7">
                    <f:if condition="{single.item.collection_files}">
                        <f:for each="{single.item.collection_files}" as="file">
                            <f:if condition="{file.type} == 2">
                                <f:render partial="Galleria/Image"
                                          arguments="{settings:settings, image:file.url, imageThumb:file.url, description:file.description, title:file.title}"/>
                            </f:if>
                        </f:for>
                    </f:if>
                </f:if>
            </f:for>
        </f:if>
    </div>
    <f:if condition="{settings.debugFluid}">
        <f:debug>{_all}</f:debug>
    </f:if>
</f:section>
</div>