{namespace flux=Tx_Flux_ViewHelpers}
{namespace dmf=DMF\FluxGalleria\ViewHelpers}
{namespace vhs=Tx_Vhs_ViewHelpers}

<f:layout name="Default"/>

<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
     xmlns:flux="http://fedext.net/ns/flux/ViewHelpers">

<f:section name="Configuration">
    <flux:flexform id="galleria" enabled="TRUE" label="Galleria image & video plugin">

        <flux:flexform.sheet name="data" label="Images / Videos">

            <flux:flexform.section name="settings.items" label="Items">
                <flux:flexform.object name="item" label="Gallery item">

                    <flux:flexform.field.select name="type" label="Type"
                                                items="{0: 'Please select', 1: 'Image', 2: 'Video', 3: 'IFrame', 4: 'Flickr', 5: 'Picasa', 6: 'Folder'}"
                                                default="0"
                                                requestUpdate="TRUE"/>

                    <f:comment>Here are the image configuration fields</f:comment>
                    <flux:flexform.field.file name="original" label="Main image" displayCond="FIELD:type:=:1"
                                              required="TRUE"/>

                    <flux:flexform.field.file name="thumb" label="Image thumbnail source" displayCond="FIELD:type:=:1"/>
                    <flux:flexform.field.input name="title" label="Title" displayCond="FIELD:type:=:1"/>
                    <flux:flexform.field.input name="link" label="Link" displayCond="FIELD:type:=:1">
                        <flux:flexform.field.wizard.link/>
                    </flux:flexform.field.input>
                    <flux:flexform.field.text name="description" label="Description" displayCond="FIELD:type:=:1"
                                              enableRichText="0"/>
                    <flux:flexform.field.text name="layer" label="Overlay" displayCond="FIELD:type:=:1"
                                              enableRichText="1"/>

                    <f:comment>Video configuration fields</f:comment>
                    <flux:flexform.field.input name="video" label="Video url (vimeo youtube dailymotion)"
                                               displayCond="FIELD:type:=:2" required="TRUE"/>
                    <flux:flexform.field.file name="thumb_video" label="Image thumbnail" displayCond="FIELD:type:=:2"/>
                    <flux:flexform.field.input name="title_video" label="Video title" displayCond="FIELD:type:=:2"/>
                    <flux:flexform.field.input name="description_video" label="Video description"
                                               displayCond="FIELD:type:=:2"/>
                    <flux:flexform.field.text name="layer_video" label="Overlay" displayCond="FIELD:type:=:2"
                                              enableRichText="1"/>


                    <f:comment>Iframe configuration fields</f:comment>
                    <flux:flexform.field.input name="iframe" label="IFrame url" displayCond="FIELD:type:=:3"
                                               required="TRUE"/>
                    <flux:flexform.field.file name="thumb_iframe" label="Image thumbnail" displayCond="FIELD:type:=:3"/>

                    <flux:flexform.field.input name="title_iframe" label="IFrame title" displayCond="FIELD:type:=:3"/>
                    <flux:flexform.field.text name="description_iframe" label="IFrame description"
                                              displayCond="FIELD:type:=:3"/>
                    <flux:flexform.field.text name="layer_iframe" label="Overlay" displayCond="FIELD:type:=:3"
                                              enableRichText="1"/>

                    <f:comment>Flickr configuration fields</f:comment>
                    <flux:flexform.field.select name="flickr_method" label="Flickr method to pull images."
                                                commaSeparatedItems="search,tags,user,set,gallery,groupsearch,group"
                                                displayCond="FIELD:type:=:4"/>
                    <flux:flexform.field.input name="flickr" label="Flickr parameter" displayCond="FIELD:type:=:4"/>
                    <flux:flexform.field.input name="max_flickr"
                                               label="Maximum number of photos to return (maximum value 100)"
                                               default="30" displayCond="FIELD:type:=:4"/>
                    <flux:flexform.field.select name="imageSize_flickr"
                                                label="The size to fetch for the main image. The bigger size, the slower downloads and interaction."
                                                displayCond="FIELD:type:=:4"
                                                items="{medium: 'Medium: 640 on longest side',small: 'Small: square 75x75',thumb: 'Thumb: 100 on longest side',big: 'Big: 1024 on longest side', orginal: 'Original:  original image'}"/>
                    <flux:flexform.field.select name="thumbSize_flickr" label="The size to fetch for the thumb image."
                                                displayCond="FIELD:type:=:4"
                                                items="{thumb: 'Thumb: 100 on longest side',medium: 'Medium: 640 on longest side',small: 'Small: square 75x75', big: 'Big: 1024 on longest side', original: 'Original:  original image'}"/>
                    <flux:flexform.field.select name="sort_flickr" label="Sets in what order the photos will be shown."
                                                displayCond="FIELD:type:=:4"
                                                commaSeparatedItems="interestingness-desc,interestingness-asc,date-posted-asc,date-posted-desc,date-taken-asc,date-taken-desc,relevance"/>
                    <flux:flexform.field.select name="description_flickr"
                                                label="If you also wish to fetch the description, set this option to true."
                                                commaSeparatedItems="false,true"
                                                displayCond="FIELD:type:=:4"/>


                    <f:comment>Picasa configuration fields</f:comment>
                    <flux:flexform.field.select name="picasa_method" label="Picasa method to pull images"
                                                displayCond="FIELD:type:=:5"
                                                commaSeparatedItems="search,user,useralbum"/>
                    <flux:flexform.field.input name="picasa" label="Picasa parameter" displayCond="FIELD:type:=:5"/>
                    <flux:flexform.field.input name="max_picasa"
                                               label="Maximum number of photos to return (maximum value 100)"
                                               default="30" displayCond="FIELD:type:=:5"/>
                    <flux:flexform.field.select name="imageSize_picasa"
                                                label="The size to fetch for the main image. The bigger size, the slower downloads and interaction."
                                                displayCond="FIELD:type:=:5"
                                                items="{medium: 'Medium: 640 on longest side',small: 'Small: square 75x75',thumb: 'Thumb: 100 on longest side',big: 'Big: 1024 on longest side', orginal: 'Original:  original image'}"/>
                    <flux:flexform.field.select name="thumbSize_picasa" label="The size to fetch for the thumb image."
                                                displayCond="FIELD:type:=:5"
                                                items="{thumb: 'Thumb: 100 on longest side',medium: 'Medium: 640 on longest side',small: 'Small: square 75x75', big: 'Big: 1024 on longest side', original: 'Original:  original image'}"/>

                    <f:comment>Folder configuration fields</f:comment>
                    <flux:flexform.field.input name="folder" label="Path to folder." displayCond="FIELD:type:=:6"/>
                    <flux:flexform.field.input name="extension" label="Comma seperated list of allowed file extensions"
                                               displayCond="FIELD:type:=:6"/>


                </flux:flexform.object>
            </flux:flexform.section>
        </flux:flexform.sheet>

        <flux:flexform.sheet name="config" label="Display">
            <flux:flexform.field.input name="settings.config.width" label="Galleria width. INT or 'auto' is allowed"
                                       default="auto"/>
            <flux:flexform.field.input name="settings.config.height"
                                       label="Galleria height, required value. INT or for responsive design 0.68 is possible"
                                       default="400"/>

            <flux:flexform.field.select name="settings.config.thumbnails" label="Creates thumbnails and carousel"
                                        default="true" requestUpdate="TRUE"
                                        commaSeparatedItems="default, true, empty, numbers, lazy, false"/>
            <flux:flexform.field.input name="settings.scale.thumbWidth" label="Galleria thumbnail width (default: 63)"
                                       displayCond="FIELD:thumbnails:!=:false"/>
            <flux:flexform.field.input name="settings.scale.thumbHeight" label="Galleria thumbnail height (default: 27)"
                                       displayCond="FIELD:thumbnails:!=:false"/>

            <flux:flexform.field.input name="settings.config.maxScaleRatio"
                                       label="Sets the maximum scale ratio for images. Set 1 for non-upscale"
                                       displayCond="FIELD:thumbnails:!=:false"/>
            <flux:flexform.field.input name="settings.config.minScaleRatio"
                                       label="Sets the minimum scale ratio for images. Set 1 for non-downscale"
                                       displayCond="FIELD:thumbnails:!=:false"/>


        </flux:flexform.sheet>

        <flux:flexform.sheet name="show" label="Show options">
            <flux:flexform.field.input name="settings.config.imagePosition"
                                       label="Position of image to show. Same as background-image position"
                                       default="center"/>
            <flux:flexform.field.select name="settings.config.imageCrop" label="Crops image inside the container (default: true)"
                                        commaSeparatedItems="default,false,true,height,width,landscape,portrait"/>
            <flux:flexform.field.input name="settings.config.show" label="Index of image where to start first (default: 0)" />
            <flux:flexform.field.select name="settings.config.showCounter" label="Toggle the counter"
                                        commaSeparatedItems="default,true,false"/>
            <flux:flexform.field.select name="settings.config.showInfo" label="Display of image caption"
                                        commaSeparatedItems="default,true,false"/>
            <flux:flexform.field.select name="settings.config.showImagenav" label="Display image navigation"
                                        commaSeparatedItems="default,true,false"/>
        </flux:flexform.sheet>

        <flux:flexform.sheet name="lightbox" label="Lightbox">
            <flux:flexform.field.select name="settings.config.lightbox"
                                        label="Lightbox for images (only on non-linked images)"
                                        commaSeparatedItems="default,false,true"/>
            <flux:flexform.field.input name="settings.config.lightboxFadeSpeed"
                                       label="This value controls how lightbox images should fade in milliseconds (default: 200)."/>
            <flux:flexform.field.input name="settings.config.lightboxTransitionSpeed"
                                       label="This value controls the transition speed (default: 300)."/>
            <flux:flexform.field.input name="settings.config.overlayBackground"
                                       label="This defines the overlay background color when calling showLightbox() (default: #0b0b0b)." />
            <flux:flexform.field.input name="settings.config.overlayOpacity"
                                       label="This sets how much opacity the overlay should have when calling showLightbox() (default: 0.85)." />
        </flux:flexform.sheet>

        <flux:flexform.sheet name="carousel" label="Carousel">
            <flux:flexform.field.select name="settings.config.carousel"
                                        label="Galleria comes with a built-in horizontal carousel."
                                        commaSeparatedItems="default,true,false"/>
            <flux:flexform.field.input name="settings.config.carouselSpeed"
                                       label="This option controls the slide speed of the carousel in milliseconds (default: 1200)." />
            <flux:flexform.field.input name="settings.config.carouselSteps"
                                       label="The number of 'steps' the carousel will advance when navigating between available thumbnails. Integer or 'auto'." />

        </flux:flexform.sheet>

        <flux:flexform.sheet name="js-config" label="Additional options">
            <flux:flexform.field.select name="settings.config.transition" label="Transition of gallery"
                                        commaSeparatedItems="default, slide, fade, flash, pulse, fadeslide"/>
            <flux:flexform.field.checkbox name="settings.enable.history" label="Enable History plugin."/>
            <flux:flexform.field.select name="settings.config.popupLinks" label="Every link on pictures set to _blank"
                                        commaSeparatedItems="default, false,true"/>
            <flux:flexform.field.select name="settings.config.responsive" label="Set galleria in responsive mode"
                                        commaSeparatedItems="default, false,true"/>
            <flux:flexform.field.select name="settings.config.imagePan" label="Pan effect for cropped pictures"
                                        commaSeparatedItems="default, false,true"/>
            <flux:flexform.field.input name="settings.config.wait" label="Enable wait, if galleria is inside of tabs or accordion (boolean or int)."/>
            <flux:flexform.field.select name="settings.config.debug" label="Enable debug for error reporting"
                                        commaSeparatedItems="default, false,true"/>
            <flux:flexform.field.text name="settings.additionalconfig.js"
                                      label="Add your specific js options. You can add whatever options are missing in ts or flexform."/>

        </flux:flexform.sheet>


    </flux:flexform>
</f:section>

<f:section name="Preview">
    Total <b>
    <f:if condition="{settings.items}">
        <f:then>
            <f:count subject="{settings.items}"/>
        </f:then>
        <f:else>
            0
        </f:else>
    </f:if>
</b> gallery elements included.
</f:section>

<f:section name="Main">

    <div id="galleria_{record.uid}">

        <f:for each="{settings.items}" as="single" iteration="iteration">
            <f:if condition="{single.item.type} == 1">
                <f:if condition="{single.item.thumb}">
                    <f:then>
                        <a href="<f:uri.image src='{single.item.thumb}' maxWidth='{settings.config.width}' maxHeight='{settings.config.height}' />">
                            <f:image src="{single.item.original}"
                                     alt="{single.item.title}" width="{settings.scale.thumbWidth}"
                                     height="{settings.scale.thumbHeight}"
                                     additionalAttributes="{data-big: '{single.item.original}', data-title: '{single.item.title}', data-description: '{single.item.description}', data-link: '<f:uri.page pageUid=\'{single.item.link}\'/>'}"/>
                        </a>
                    </f:then>
                    <f:else>
                        <a href="<f:uri.image src='{single.item.original}' maxWidth='{settings.config.width}' maxHeight='{settings.config.height}' />">
                            <f:image src="{single.item.original}"
                                     alt="{single.item.title}" width="{settings.scale.thumbWidth}"
                                     height="{settings.scale.thumbHeight}"
                                     additionalAttributes="{data-big: '{single.item.original}', data-title: '{single.item.title}', data-description: '{single.item.description}', data-link: '<f:uri.page pageUid=\'{single.item.link}\'/>'}"/>
                        </a>
                    </f:else>
                </f:if>
            </f:if>


            <f:if condition="{single.item.type} == 2">
                <f:if condition="{single.item.thumb_video}">
                    <f:then>
                        <a href="{single.item.video}">
                            <f:image src="{single.item.thumb_video}"
                                     width="{settings.scale.thumbWidth}" height="{settings.scale.thumbHeight}" alt="Video Thumb"
                                     additionalAttributes="{data-layer: '{single.item.layer_video}', data-title: '{single.item.title_video}', data-description: '{single.item.description_video}'}"/>
                        </a>
                    </f:then>
                    <f:else>
                        <a href="{single.item.video}">
                            <span class="video" data-layer="{single.item.layer_video}"
                                                            data-title="{single.item.title_video}"
                                                            data-description="{single.item.description_video}">Check out this video</span>
                        </a>
                    </f:else>
                </f:if>
            </f:if>

            <f:if condition="{single.item.type} == 3">
                <f:if condition="{single.item.thumb_iframe}">
                    <f:then>
                        <a href="{single.item.iframe}">
                            <f:image class="iframe" src="{single.item.thumb_iframe}" alt="Iframe Thumb" width="{settings.scale.thumbWidth}" height="{settings.scale.thumbHeight}"
                                     additionalAttributes="{data-layer: '{single.item.layer_iframe}', data-title: '{single.item.title_iframe}', data-description: '{single.item.description_iframe}'}"/>
                        </a>
                    </f:then>
                    <f:else>
                        <a href="{single.item.iframe}">
							<span class="iframe" data-layer="{single.item.layer_iframe}"
                                  data-title="{single.item.title_iframe}"
                                  data-description="{single.item.description_iframe}">Check this out</span>
                        </a>
                    </f:else>
                </f:if>
            </f:if>

            <f:if condition="{single.item.type} == 6">
                <f:if condition="{single.item.extension}">
                    <f:then>
                        <dmf:fetchFiles dir="{single.item.folder}" extension="{single.item.extension}">

                            <f:for each="{files}" as="image">
                                <a href="<f:uri.image src='{image}' maxWidth='{settings.config.width}' maxHeight='{settings.config.height}' />">
                                    <f:image src="{image}"
                                             alt="" maxWidth="{settings.scale.thumbWidth}"
                                             maxHeight="{settings.scale.thumbHeight}"
                                             additionalAttributes="{data-big: '{image}'}"/>
                                </a>
                            </f:for>
                        </dmf:fetchFiles>
                    </f:then>
                    <f:else>
                        <dmf:fetchFiles dir="{single.item.folder}" extension="jpg,png,tiff,gif">
                            <f:for each="{files}" as="image">
                                <a href="<f:uri.image src='{image}' maxWidth='{settings.config.width}' maxHeight='{settings.config.height}' />">
                                    <f:image src="{image}"
                                             alt="" maxWidth="{settings.scale.thumbWidth}"
                                             maxHeight="{settings.scale.thumbHeight}"
                                             additionalAttributes="{data-big: '{image}'}"/>
                                </a>
                            </f:for>
                        </dmf:fetchFiles>
                    </f:else>
                </f:if>
            </f:if>
        </f:for>
    </div>


</f:section>
</div>